main {
  width: 100%;
  padding: 40px;
  flex: 1;
}

h1 {
  text-align: center;
  color: var(--main-blue);
  font-size: 3rem;
  font-weight: 700;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0 2rem 0;
}

h2 {
  align-self: flex-start;
  font-weight: 500;
  color: var(--main-blue);
  margin-bottom: 1rem;
}

.task-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  width: 80%;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--main-blue);
  border-radius: 7px;
  background-color: var(--clear-blue);
}

h3,
h4 {
  color: var(--main-blue);
}

.trash-icon {
  font-size: 1.5rem;
  color: var(--main-blue);
}

button {
  align-self: center;
  width: 100%;
  height: 4rem;
  border-radius: 7px;
  background-color: var(--main-blue);
  color: var(--usual-white);
  font-size: 1.5rem;
}

.icon-btn {
  font-size: 1.5rem;
  color: var(--usual-white);
}

footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: auto;
  margin-bottom: 5rem;
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 4rem;
  padding: 0.5rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.5rem;
}

.exit-btn {
  color: var(--usual-white);
  background-color: var(--salmon-category);
}

.add-btn {
  color: var(--usual-white);
  background-color: var(--main-blue);
}

.footer-icon {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: var(--usual-white);
}
